.center {
    text-align: center;
    margin-top: 30px;
}
img {
    width: 150px;
}
.start {
    width: 120px;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: transparent;
    color: #007bff;
    font-weight: 600;
    outline: none;
    transition: 0.2s;
}
.start:hover {
    background-color: #007bff;
    color: white;
}
.start:active {
    border: 2px solid black;
}

.cover {
    display: inline-block;
    position: relative;
}
.overlay {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}
.open {
    width: 120px;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: transparent;
    color: #007bff;
    font-weight: 600;
    outline: none;
    transition: 0.2s;
}
.open:active {
    border: 2px solid black;
}
/* nai */

.dice {
    display: flex;
    flex-direction: row;
}

.deer {
    width: 426px;
    height: 360px;
    background: url(./images/TrungBaucua.jpg) 0 0;
}


/* bầu */

.calabash {
    width: 426px;
    height: 360px;
    background: url(./images/TrungBaucua.jpg) 850px 0;
}

.chicken {
    width: 426px;
    height: 360px;
    background: url(./images/TrungBaucua.jpg) 426px 0;
}

.fish {
    width: 426px;
    height: 360px;
    background: url(./images/TrungBaucua.jpg) 0 360px;
}

.crab {
    width: 426px;
    height: 360px;
    background: url(./images/TrungBaucua.jpg) 850px 360px;
}


/* tôm */

.shrimp {
    width: 426px;
    height: 360px;
    background: url(./images/TrungBaucua.jpg) 426px 360px;
}
