.center {
    text-align: center;
    margin-top: 30px;
}
img {
    width: 150px;
}
.start {
    width: 120px;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: transparent;
    color: #007bff;
    font-weight: 600;
    outline: none;
    transition: 0.2s;
}
.start:hover {
    background-color: #007bff;
    color: white;
}
.start:active {
    border: 2px solid black;
}

.cover {
    display: inline-block;
    position: relative;
}
.overlay {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}
.open {
    width: 120px;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: transparent;
    color: #007bff;
    font-weight: 600;
    outline: none;
    transition: 0.2s;
}
.open:active {
    border: 2px solid black;
}
